services:
  backend:
    build:
      target: development
    command: uv run uvicorn main:app --reload --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      target: development
    command: pnpm dev --host 0.0.0.0 --port 5173
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./frontend:/app
      - /app/node_modules
